.header {
  background-color: var(--mat-sys-surface-container-lowest);
  padding: var(--padding-header);
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    text-transform: capitalize;
  }
}
